<!DOCTYPE html>
<html lang="<%= lang %>" class="">
<%- include('partials/head') %>
<body class="bg-slate-50 dark:bg-slate-950 min-h-screen flex flex-col">
<%- include('partials/header') %>
<%- body %>
<%- include('partials/footer') %>
<%- script %>
</body>
</html>
